/* ==========================================================================
   Fonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #2a292c;
	text-shadow: none;
}

::selection {
	background: #2a292c;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between
 * images and the bottom of their containers:
 */
img,
svg {
	vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Container Styles
	 ========================================================================== */

	.container {
		width: 100%;
	}

	@media only screen and (min-width: 1000px) {
		.container {
			width: 1000px;
			margin: 0 auto;
		}
	}

/* ==========================================================================
   Header Styles
   ========================================================================== */

	.header--container {
		background-color: #2a292c;
		display: flex;
		justify-content: space-between;
		padding: 20px;
	}

	.header--logo {
		align-self: center;
	}

	.header-info--container {
		color: #fff;
	}

	.header-info--container h1 {
		margin: 0;
	}

	.header-info--container p {
		margin: 0;
	}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
